<div class="container">
    <div class="row ">
        <div class="col-md-6 offset-md-3">
            <div class="jumbotron">
                <form method="post" action="/account/login">
                    <h2>Signup</h2>
                    <input class="form-control mt-3" type="text" placeholder="name" name="name" />
                    <input class="form-control mt-3" type="text" placeholder="email" name="email" />
                    <input class="form-control mt-3" type="password" placeholder="password" name="password" />
                    <button class="btn btn-primary mt-3">Signup</button>
                </form>
            </div>
        </div>

    </div>

</div>